# Create Database

In [ ]:
import sqlite3
import pandas as pd
from datetime import datetime
from difflib import SequenceMatcher
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
conn = sqlite3.connect ('Among Us 1.db')
cursor = conn.cursor()

In [ ]:
# Get a list of all tables in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Print the list of table names
for table in tables:
    print(table[0])

#  Create Tables

In [ ]:
# List of table names to drop
tables_to_drop = [
    'map_dimension',
    'role_dimension',
    'task_dimension',
    'review_fact',
    'user_dimension',
    'location_dimension',
    'avatar_fact',
    'transaction_fact',
    'sessions_fact',
    'datetime_dimension',
    'product_dimension',
    'producttype_dimension',
    'currency_dimension',
    'version_fact',
    'gamehistory_fact'
]

# Drop each table
for table in tables_to_drop:
    cursor.execute(f"DROP TABLE IF EXISTS {table};")

conn.commit()

In [ ]:
# Get a list of all tables in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Print the list of table names
for table in tables:
    print(table[0])

In [ ]:
#gamehistory_fact
create_table_query = """ CREATE TABLE  gamehistory_fact
(user_id INTEGER NOT NULL,
map_id INTEGER NOT NULL,
role_id INTEGER NOT NULL,
task_id INTEGER NOT NULL,
start_date_id INTEGER NOT NULL,
end_date_id INTEGER NOT NULL ,
win_loss INTEGER NOT NULL CHECK(win_loss = 0 OR win_loss = 1),
FOREIGN KEY (user_id) REFERENCES user_dimension(user_id),
FOREIGN KEY (map_id) REFERENCES map_dimension(map_id),
FOREIGN KEY (role_id) REFERENCES role_dimension(role_id),
FOREIGN KEY (task_id) REFERENCES task_dimension(task_id),
FOREIGN KEY (start_date_id) REFERENCES datetime_dimension(date_id),
FOREIGN KEY (end_date_id) REFERENCES datetime_dimension(date_id))
"""

cursor.execute(create_table_query)
conn.commit()

In [ ]:
#map_dimension
create_table_query = """ CREATE TABLE  map_dimension
(map_id INTEGER PRIMARY KEY,
map_name TEXT NOT NULL)"""

cursor.execute(create_table_query)
conn.commit()

In [ ]:
#role_dimension
create_table_query = """ CREATE TABLE  role_dimension
(role_id INTEGER PRIMARY KEY,
role_name TEXT NOT NULL)"""

cursor.execute(create_table_query)
conn.commit()

In [ ]:
#task_dimension
create_table_query = """ CREATE TABLE  task_dimension
(task_id INTEGER PRIMARY KEY,
task_name TEXT NOT NULL)"""

cursor.execute(create_table_query)
conn.commit()

In [ ]:
#review_dimension
create_table_query = """ CREATE TABLE  review_fact
(user_id INTEGER NOT NULL,
date_id INTEGER NOT NULL,
review_platform TEXT NOT NULL,
rating INTEGER NOT NULL,
review_details TEXT NOT NULL,
FOREIGN KEY (user_id) REFERENCES user_dimension(user_id),
FOREIGN KEY (date_id) REFERENCES date_dimension(date_id))"""

cursor.execute(create_table_query)
conn.commit()

In [ ]:
#user_dimension
create_table_query = """ CREATE TABLE  user_dimension
(user_id INTEGER PRIMARY KEY,
username TEXT NOT NULL,
device TEXT NOT NULL,
level INTEGER NOT NULL,
location_id INTEGER NOT NULL,
language TEXT NOT NULL,
login_method TEXT NOT NULL,
email TEXT NOT NULL,
joined_date_id INTEGER NOT NULL,
FOREIGN KEY (location_id) REFERENCES location_dimension(location_id)
FOREIGN KEY (joined_date_id) REFERENCES date_dimension(date_id))"""

cursor.execute(create_table_query)
conn.commit()

In [ ]:
#location_dimension
create_table_query = """ CREATE TABLE  location_dimension
(location_id INTEGER PRIMARY KEY,
country TEXT NOT NULL,
region TEXT NOT NULL,
city TEXT NOT NULL)"""

cursor.execute(create_table_query)
conn.commit()

In [ ]:
#avatar_fact
create_table_query = """ CREATE TABLE  avatar_fact
(user_id INTEGER NOT NULL,
color_productid INTEGER NOT NULL,
hat_productid INTEGER NOT NULL,
pet_productid INTEGER NOT NULL,
skin_productid INTEGER NOT NULL,
FOREIGN KEY (user_id) REFERENCES user_dimension(user_id))"""

cursor.execute(create_table_query)
conn.commit()

In [ ]:
#transaction_fact
create_table_query = """ CREATE TABLE transaction_fact
(transaction_id INTEGER NOT NULL,
user_id INTEGER NOT NULL,
product_id INTEGER NOT NULL,
transaction_date_id INTEGER NOT NULL,
amount FLOAT NOT NULL,
payment_type TEXT NOT NULL,
currency_id INTEGER NOT NULL,
FOREIGN KEY (user_id) REFERENCES user_dimension(user_id),
FOREIGN KEY (transaction_date_id) REFERENCES datetime_dimension(date_id),
FOREIGN KEY (product_id) REFERENCES product_dimension(product_id))"""

cursor.execute(create_table_query)
conn.commit()

In [ ]:
#sessions_fact
create_table_query = """ CREATE TABLE  sessions_fact
(user_id INTEGER NOT NULL,
start_date_id INTEGER NOT NULL,
end_date_id INTEGER NOT NULL,
FOREIGN KEY (user_id) REFERENCES user_dimension(user_id),
FOREIGN KEY (start_date_id) REFERENCES date_dimension(date_id),
FOREIGN KEY (end_date_id) REFERENCES date_dimension(date_id))"""

cursor.execute(create_table_query)
conn.commit()

In [ ]:
#datetime_dimension
create_table_query = """ CREATE TABLE  datetime_dimension
(date_id INTEGER PRIMARY KEY AUTOINCREMENT,
year INTEGER NOT NULL,
month INTEGER NOT NULL,
day INTEGER NOT NULL,
time DATETIME NOT NULL)
"""

cursor.execute(create_table_query)
conn.commit()

In [ ]:
#product_dimension
create_table_query = """ CREATE TABLE  product_dimension
(product_id INTEGER PRIMARY KEY,
product_name TEXT NOT NULL,
release_date_id INTEGER NOT NULL,
producttype_id INTEGER NOT NULL,
price_usd FLOAT NOT NULL,
FOREIGN KEY (release_date_id) REFERENCES datetime_dimension(date_id),
FOREIGN KEY (producttype_id) REFERENCES productype_dimension(producttype_id))
"""

cursor.execute(create_table_query)
conn.commit()

In [ ]:
#producttype_dimension
create_table_query = """ CREATE TABLE  producttype_dimension
(producttype_id INTEGER PRIMARY KEY,
producttype TEXT NOT NULL)
"""

cursor.execute(create_table_query)
conn.commit()

In [ ]:
#currency_dimension
create_table_query = """ CREATE TABLE  currency_dimension
(currency_id INTEGER PRIMARY KEY,
currency TEXT NOT NULL,
exchange_rate FLOAT NOT NULL)
"""

cursor.execute(create_table_query)
conn.commit()

In [ ]:
#version_fact
create_table_query = """ CREATE TABLE  version_fact
(version_id INTEGER NOT NULL,
date_id INTEGER NOT NULL,
map_id INTEGER NOT NULL,
role_id INTEGER NOT NULL,
task_id INTEGER NOT NULL,
update_detail TEXT NOT NULL,
FOREIGN KEY (date_id) REFERENCES date_dimension(date_id),
FOREIGN KEY (map_id) REFERENCES map_dimension(map_id),
FOREIGN KEY (role_id) REFERENCES role_dimension(role_id),
FOREIGN KEY (task_id) REFERENCES task_dimension(task_id))"""

cursor.execute(create_table_query)
conn.commit()

In [ ]:
# Get a list of all tables in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Print the list of table names
for table in tables:
    print(table[0])

# Trigger Creation

In [ ]:
create_trigger ='''CREATE TRIGGER validate_email_before_insert_leads
   BEFORE INSERT ON user_dimension
BEGIN
   SELECT
      CASE
	WHEN NEW.email NOT LIKE '%_@__%.__%' THEN
   	  RAISE (ABORT,'Invalid email address')
       END;
END;'''

cursor.execute(create_trigger)
conn.commit()

In [ ]:
#test trigger
insert_record_query = """ INSERT INTO user_dimension
(user_id, username, device, level, location_id, language, login_method, email, joined_date_id)
VALUES
('3','anna','iOS','10','1','English','appleid','anna.sun@email.com','4')"""
cursor.execute(insert_record_query)
conn.commit()

In [ ]:
create_trigger2='''CREATE TRIGGER price_not_less_than_0
    BEFORE INSERT ON transaction_fact
  BEGIN
    SELECT
      CASE
    WHEN NEW.amount < 0 THEN
    RAISE (ABORT,'INVALID_AMOUNT')
    END;
END;'''
cursor.execute(create_trigger2)
conn.commit()

In [ ]:
# test trigger 2
insert_record_query2 = """ INSERT or IGNORE INTO transaction_fact
(transaction_id, user_id, product_id, transaction_date_id, amount, payment_type, currency_id)
VALUES
(1234,5,3456,345,556,'cash',12)"""
cursor.execute(insert_record_query2)
conn.commit()

In [ ]:
CREATE_TRIGGER3 = '''CREATE TRIGGER price_usd_not_less_than_0
BEFORE INSERT ON product_dimension
  BEGIN
    SELECT
      CASE
WHEN NEW.price_usd < 0 THEN
  RAISE (ABORT,’INVAILD_PRICE’)
  END;
END; '''
cursor.execute(CREATE_TRIGGER3)
conn.commit()

In [ ]:
#test trigger3
insert_record_query3 = """ INSERT INTO product_dimension
(product_id, product_name, release_date_id, producttype_id, price_usd)
VALUES
('123','hat','0208','001','10')"""
cursor.execute(insert_record_query3)
conn.commit()

In [ ]:
CREATE_TRIGGER4 = '''CREATE TRIGGER rating_not_less_than_0
BEFORE INSERT ON review_fact
BEGIN
SELECT
CASE
WHEN NEW.rating < 0 and NEW.rating > 5 THEN
RAISE (ABORT,’INVAILD_Rate’)
END;
END; '''
cursor.execute(CREATE_TRIGGER4)
conn.commit()

In [ ]:
#test trigger4
insert_record_query4 = """ INSERT INTO review_fact
(user_id, date_id, review_platform, rating, review_details)
VALUES
(123,0208,'Test',4,5)"""
cursor.execute(insert_record_query4)
conn.commit()

# Insert Game_history, Map, Role, Task Data

### Read CSV

In [ ]:
uploaded = files.upload()

In [ ]:
gh = pd.read_csv('game_history.csv')

In [ ]:
gh

In [ ]:
gh['start_year'] = pd.DatetimeIndex(gh['start_date']).year
gh['start_month'] = pd.DatetimeIndex(gh['start_date']).month
gh['start_day'] = pd.DatetimeIndex(gh['start_date']).day
gh['start_time'] = pd.DatetimeIndex(gh['start_date']).time
gh.head()

In [ ]:
gh['end_year'] = pd.DatetimeIndex(gh['end_date']).year
gh['end_month'] = pd.DatetimeIndex(gh['end_date']).month
gh['end_day'] = pd.DatetimeIndex(gh['end_date']).day
gh['end_time'] = pd.DatetimeIndex(gh['end_date']).time
gh.head()

In [ ]:
gh_fact = gh[['user_id', 'map_id', 'role_id', 'task_id', 'start_date_id' ,'end_date_id' ,'win_loss']]

In [ ]:
map_dimension = gh[['map_id', 'map_name']].drop_duplicates()
map_dimension

In [ ]:
role_dimension = gh[['role_id', 'role_name']].drop_duplicates()
role_dimension

In [ ]:
task_dimension = gh[['task_id', 'task_name']].drop_duplicates()
task_dimension

In [ ]:
start_date = gh[['start_date_id' , 'start_year' ,	'start_month',	'start_day',	'start_time']].drop_duplicates()
end_date = gh[['end_date_id' ,	'end_year', 'end_month', 'end_day', 'end_time']].drop_duplicates()
end_date

In [ ]:
start_date

### Transform data to string & Tuple

In [ ]:
gh_fact = gh_fact.astype(str)
gh_fact = gh_fact.to_records(index=False)

In [ ]:
map_dimension = map_dimension.astype(str)
map_dimension = map_dimension.to_records(index=False)

In [ ]:
role_dimension = role_dimension.astype(str)
role_dimension = role_dimension.to_records(index=False)

In [ ]:
task_dimension = task_dimension.astype(str)
task_dimension = task_dimension.to_records(index=False)

In [ ]:
start_date = start_date.astype(str)
start_date = start_date.to_records(index=False)
end_date = end_date.astype(str)
end_date = end_date.to_records(index=False)

### Data Insertion

In [ ]:
def insert_gh(recordList):
    insert_gh_query = """ INSERT INTO gamehistory_fact
    (user_id, map_id, role_id, task_id, start_date_id ,end_date_id ,win_loss) VALUES (?, ?, ?, ?, ?, ?, ?)"""
    cursor.executemany(insert_gh_query, recordList)
    conn.commit()
    print('New data inserted successfully')

In [ ]:
insert_gh(gh_fact)

In [ ]:
def insert_map(recordList):
    insert_query = """ INSERT INTO map_dimension
    (map_id, map_name) VALUES (?, ?)"""
    cursor.executemany(insert_query, recordList)
    conn.commit()
    print('New data inserted successfully')

In [ ]:
insert_map(map_dimension)

In [ ]:
def insert_role(recordList):
    insert_query = """ INSERT INTO role_dimension
    (role_id, role_name) VALUES (?, ?)"""
    cursor.executemany(insert_query, recordList)
    conn.commit()
    print('New data inserted successfully')

In [ ]:
insert_role(role_dimension)

In [ ]:
def insert_task(recordList):
    insert_query = """ INSERT INTO task_dimension
    (task_id, task_name) VALUES (?, ?)"""
    cursor.executemany(insert_query, recordList)
    conn.commit()
    print('New data inserted successfully')

In [ ]:
insert_task(task_dimension)

In [ ]:
def insert_datetime(recordList):
    insert_datetime_query = """ INSERT INTO datetime_dimension
    (date_id, year, month, day, time) VALUES (?, ?, ?, ?, ?)"""
    cursor.executemany(insert_datetime_query, recordList)
    conn.commit()
    print('New data inserted successfully')

In [ ]:
insert_datetime(start_date)
insert_datetime(end_date)

## Insert Transaction, product, productype, currency

### Read CSV

In [ ]:
uploaded = files.upload()

In [ ]:
transcation = pd.read_csv('transaction.csv')
transcation

In [ ]:
transaction_fact = transcation[['transaction_id', 'user_id', 'product_id', 'transaction_date_id', 'amount', 'payment_type', 'currency_id']]

In [ ]:
product_dimension = transcation[['product_id', 'product_name','release_date_id', 'producttype_id', 'price_usd']].drop_duplicates()

In [ ]:
producttype_dimension = transcation[['producttype_id', 'producttype']].drop_duplicates()

In [ ]:
currency_dimension = transcation[['currency_id', 'currency', 'exchange_rate']].drop_duplicates()

### Transform Data

In [ ]:
transaction_fact = transaction_fact.astype(str)
transaction_fact = transaction_fact.to_records(index=False)

In [ ]:
product_dimension = product_dimension.astype(str)
product_dimension = product_dimension.to_records(index=False)

In [ ]:
producttype_dimension = producttype_dimension.astype(str)
producttype_dimension = producttype_dimension.to_records(index=False)

In [ ]:
currency_dimension = currency_dimension.astype(str)
currency_dimension = currency_dimension.to_records(index=False)

### Data Insertion

In [ ]:
def insert_transaction(recordList):
    insert_transaction_query = """ INSERT INTO transaction_fact
    (transaction_id, user_id, product_id, transaction_date_id, amount, payment_type, currency_id) VALUES (?, ?, ?, ?, ?, ?, ?)"""
    cursor.executemany(insert_transaction_query, recordList)
    conn.commit()
    print('New data inserted successfully')

In [ ]:
insert_transaction(transaction_fact)

In [ ]:
def insert_product(recordList):
    insert_product_query = """ INSERT INTO product_dimension
    (product_id, product_name, release_date_id, producttype_id, price_usd) VALUES (?, ?, ?, ?, ?)"""
    cursor.executemany(insert_product_query, recordList)
    conn.commit()
    print('New data inserted successfully')

In [ ]:
insert_product(product_dimension)

In [ ]:
def insert_producttype(recordList):
    insert_producttype_query = """ INSERT INTO producttype_dimension
    (producttype_id, producttype) VALUES (?, ?)"""
    cursor.executemany(insert_producttype_query, recordList)
    conn.commit()
    print('New data inserted successfully')

In [ ]:
insert_producttype(producttype_dimension)

In [ ]:
def insert_currency(recordList):
    insert_currency_query = """ INSERT INTO currency_dimension
    (currency_id, currency, exchange_rate) VALUES (?, ?, ?)"""
    cursor.executemany(insert_currency_query, recordList)
    conn.commit()
    print('New data inserted successfully')

In [ ]:
insert_currency(currency_dimension)

# Insert avatar, sessions, version, review, user, location

### Read CSV

In [ ]:
uploaded = files.upload()

In [ ]:
review = pd.read_csv('review.csv')

In [ ]:
review

In [ ]:
review_fact = review[['user_id', 'date_id', 'review_platform', 'rating', 'review_details']]

In [ ]:
uploaded = files.upload()

In [ ]:
avatar = pd.read_csv('avatar.csv')

In [ ]:
avatar

In [ ]:
avatar_fact = avatar[['user_id', 'color_productid', 'hat_productid', 'pet_productid', 'skin_productid']]

In [ ]:
uploaded = files.upload()

In [ ]:
sessions = pd.read_csv('sessions.csv')

In [ ]:
sessions

In [ ]:
sessions_fact = sessions[['user_id', 'start_date_id', 'end_date_id']]

In [ ]:
uploaded = files.upload()

In [ ]:
user = pd.read_csv('user.csv')

In [ ]:
user

In [ ]:
user_dimension = user[['user_id', 'username', 'device', 'level', 'location_id', 'language', 'login_method', 'email', 'joined_date_id']]

In [ ]:
user_dimension

In [ ]:
location_dimension = user[['location_id', 'country', 'region', 'city']].drop_duplicates()

In [ ]:
location_dimension

In [ ]:
uploaded = files.upload()

In [ ]:
version = pd.read_csv('version.csv')

In [ ]:
version

In [ ]:
version_fact = version[['version_id', 'date_id', 'map_id', 'role_id', 'task_id', 'update_detail']]

### Transform Data

In [ ]:
review_fact = review_fact.astype(str)
review_fact = review_fact.to_records(index=False)

In [ ]:
user_dimension = user_dimension.astype(str)
user_dimension = user_dimension.to_records(index=False)

In [ ]:
location_dimension = location_dimension.astype(str)
location_dimension = location_dimension.to_records(index=False)

In [ ]:
avatar_fact = avatar_fact.astype(str)
avatar_fact = avatar_fact.to_records(index=False)

In [ ]:
sessions_fact = sessions_fact.astype(str)
sessions_fact = sessions_fact.to_records(index=False)

In [ ]:
version_fact = version_fact.astype(str)
version_fact = version_fact.to_records(index=False)

### Data insertion

In [ ]:
def insert_review(recordList):
    insert_review_query = """ INSERT INTO review_fact
    (user_id, date_id, review_platform, rating, review_details) VALUES (?, ?, ?, ?, ?)"""
    cursor.executemany(insert_review_query, recordList)
    conn.commit()
    print('New data inserted successfully')

In [ ]:
insert_review(review_fact)

In [ ]:
def insert_user(recordList):
    insert_user_query = """ INSERT INTO user_dimension
    (user_id,username, device, level, location_id, language, login_method, email, joined_date_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)"""
    cursor.executemany(insert_user_query, recordList)
    conn.commit()
    print('New data inserted successfully')

In [ ]:
insert_user(user_dimension)

In [ ]:
def insert_location(recordList):
    insert_location_query = """ INSERT INTO location_dimension
    (location_id, country, region, city) VALUES (?, ?, ?, ?)"""
    cursor.executemany(insert_location_query, recordList)
    conn.commit()
    print('New data inserted successfully')

In [ ]:
insert_location(location_dimension)

In [ ]:
def insert_avatar(recordList):
    insert_avatar_query = """ INSERT INTO avatar_fact
    (user_id, color_productid, hat_productid, pet_productid, skin_productid) VALUES (?, ?, ?, ?, ?)"""
    cursor.executemany(insert_avatar_query, recordList)
    conn.commit()
    print('New data inserted successfully')

In [ ]:
insert_avatar(avatar_fact)

In [ ]:
def insert_sessions(recordList):
    insert_sessions_query = """ INSERT INTO sessions_fact
    (user_id, start_date_id, end_date_id) VALUES (?, ?, ?)"""
    cursor.executemany(insert_sessions_query, recordList)
    conn.commit()
    print('New data inserted successfully')

In [ ]:
insert_sessions(sessions_fact)

In [ ]:
def insert_version(recordList):
    insert_version_query = """ INSERT INTO version_fact
    (version_id, date_id, map_id, role_id, task_id, update_detail) VALUES (?, ?, ?, ?, ?, ?)"""
    cursor.executemany(insert_version_query, recordList)
    conn.commit()
    print('New data inserted successfully')

In [ ]:
insert_version(version_fact)

# Analysis

**Task Popularity Analysis**

In [ ]:
uploaded = files.upload()

In [ ]:
# Load the game_history CSV file
game_history = pd.read_csv('game_history.csv')

# Display basic information about the dataset
print(game_history.info())

In [ ]:
# Display basic statistics about numerical columns
print(game_history.describe())

In [ ]:
# Check for missing values
print(game_history.isnull().sum())

In [ ]:
# Analyze task popularity
task_popularity = game_history['task_name'].value_counts()
print("Task Popularity:")
print(task_popularity)

In [ ]:
# Visualize task popularity
plt.figure(figsize=(12, 6))
sns.countplot(x='task_name', data=game_history, order=game_history['task_name'].value_counts().index)
plt.title('Task Popularity')
plt.xlabel('Task Name')
plt.ylabel('Count')
plt.xticks(rotation=45)
plt.show()

**Map Popularity Analyze**

In [ ]:
map_popularity = game_history['map_name'].value_counts()
print("Map Popularity:")
print(map_popularity)

In [ ]:
# Visualize map popularity
plt.figure(figsize=(10, 6))
sns.countplot(x='map_name', data=game_history, order=game_history['map_name'].value_counts().index)
plt.title('Map Popularity')
plt.xlabel('Map Name')
plt.ylabel('Count')
plt.xticks(rotation=45)
plt.show()

**Recommendations based on map and task popularity**

In [ ]:
map_popularity = pd.Series({'summer': 8, 'tree': 7, 'stonewall': 5, 'snowroom': 5, 'rose': 4, 'candyhouse': 4,'mira hq': 3, 'bloody': 3, 'the skeld': 2})
task_popularity = pd.Series({'fix wiring': 9, 'swipe card': 8, 'pin': 7, 'password': 7, 'doorlock': 5, 'matrix fix': 5})

In [ ]:
# Define weights for map and task popularity
map_weight = 0.5
task_weight = 0.5

In [ ]:
# Calculate the combined score for each map and task
map_scores = map_popularity * map_weight
task_scores = task_popularity * task_weight

In [ ]:
# Combine the scores into a recommendation score
recommendation_scores = map_scores.add(task_scores, fill_value=0)

In [ ]:
# Sort the recommendations by score in descending order
recommendations = recommendation_scores.sort_values(ascending=False)

In [ ]:
# Display the recommendations
print("Combined Recommendations:")
print(recommendations)

**Insights:**

"fix wiring" has the highest score, making it the most recommended task in this list.
Users or players may find it valuable to focus on the top-recommended tasks, as these are deemed more popular within the given weighting scheme.

In [ ]:
uploaded = files.upload()

In [ ]:
# Load the transaction data
transaction_data = pd.read_csv('transaction.csv')

In [ ]:
# Display basic information about the transaction data
print(transaction_data.info())

**Total Revenue by Currency**

In [ ]:
# Calculate total revenue for each currency
total_revenue_by_currency = transaction_data.groupby('currency')['price_usd'].sum()
print("Total Revenue by Currency:\n", total_revenue_by_currency)

**Transaction Count by Product Type**

In [ ]:
# Count transactions for each product type
product_type_counts = transaction_data['producttype'].value_counts()
print("Transaction Count by Product Type:\n", product_type_counts)

**Payment Type Distribution**

In [ ]:
# Visualize the distribution of payment types
payment_type_distribution = transaction_data['payment_type'].value_counts()
payment_type_distribution.plot(kind='bar', title='Payment Type Distribution')
plt.show()

# Recommendation for next promotion

**Promotion Theme: "Summer Adventure Special"**

**Promotion Details:**

Discounts for Apple Pay Users:
> Encourage players to use Apple Pay as their payment method by offering exclusive discounts or bonuses for transactions made with Apple Pay.

Hat Bonanza:
> Highlight and promote products in the "hat" category, possibly offering special in-game items, skins, or discounts for players who purchase hats during the promotional period.

HKD Currency Special:
> Promote special in-game offers for players using the HKD currency. This could include exclusive items, bundles, or discounts tailored for users who make transactions in Hong Kong Dollars.

"Fix Wiring" Challenge:
> Create a special in-game challenge or event related to the "fix wiring" task, with rewards and bonuses for players who successfully complete the task during the promotional period.

Summer Map and Tree Decorations:
> Emphasize the popularity of the "summer" map and the "tree" element. Consider introducing limited-time decorations, themes, or events related to summer and trees within the game.

Task Popularity Rewards:
> Highlight the popularity of tasks such as "fix wiring" and "swipe card." Offer rewards, bonuses, or exclusive in-game items for players who complete these tasks during the promotion.

**Promotion Messaging:**

1. "Master the 'Fix Wiring' Challenge – Earn Big Rewards!"
2. "Celebrate Summer with New Map Decorations!"
3. "Collect Rare Hats – Limited-Time Offer!"